.application-card {
  padding: 20px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  .application-item {
    margin-bottom: 10px;
  }
  select {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background-color: #e5e5e5;
    select {
      border-color: #FFF;
      background-color: #e5e5e5;
    }
  }
}