.new-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  .input {
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    text-transform: capitalize;
    background-color: #1d3557;
    color: #FFF;
    min-height: 48px;
    min-width: 100px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    &:hover {
      opacity: 0.9;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    @media only screen and (max-width: 560px) {
      width: 100%;
      min-width: unset;
      margin: 0px 30px;
    }
  }
}